<div class="row">
<div class="col-xs-12">
<h1><strong>List of Movies</strong></h1>
</div>
</div>


{{#each movies}}
<div class="row">
  <div class="col-xs-12">
  <h2>{{title}} {{year}}</h2>
  <p>{{imdb}}</p>
  </div>
</div>
{{/each}}
